parameters:
    level: 3

    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - %currentWorkingDirectory%/src

    ignoreErrors:
        - '~Call to an undefined method League\\Flysystem\\FilesystemInterface::getAdapter\(\).~'