parameters:
    level: 3
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Psr.*Exception is not subtype of Throwable#'
        - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::getAdapter\(\).#'