<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Application Test Suite">
      <file>tests/StorageTest.php</file>
      <file>tests/ProviderTest.php</file>
      <file>tests/MacroTest.php</file>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="OSS_ACCESS_KEY_ID" value="access_id" />
    <env name="OSS_ACCESS_KEY_SECRET" value="access_secret" />
    <env name="OSS_BUCKET" value="bucket" />
    <env name="OSS_ENDPOINT" value="endpoint.com" />
    <env name="OSS_PREFIX" value="tests" />
  </php>
</phpunit>
