<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix="ServiceProvider.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="PHPUNIT_RUNNING" value="true" />
        <env name="APP_ENV" value="testing"/>
        <env name="ALIYUN_OSS_ACCESS_ID" value="access_id" />
        <env name="ALIYUN_OSS_ACCESS_KEY" value="access_key" />
        <env name="ALIYUN_OSS_BUCKET" value="bucket" />
        <env name="ALIYUN_OSS_ENDPOINT" value="endpoint.com" />
        <env name="ALIYUN_OSS_INTERNAL" value="internal.com" />
    </php>
</phpunit>